# Specify the constraint file URL for Apache Airflow 2.7.2 dependencies
--constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.7.2/constraints-3.11.txt"

# Install Apache Airflow version 2.7.2
apache-airflow==2.7.2

# Install the s3fs library for interacting with Amazon S3
s3fs

# Install the boto3 library for interaction with AWS services
boto3

# Install the pandas library for data manipulation and analysis
pandas

# Install the requests library for making HTTP requests
requests
